* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--Very-dark-blue);
}
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.container {
    background-color: var(--Dark-desaturated-blue);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    overflow: hidden;
}
.img-container {
    position: relative;
    flex-basis: 50%;
}
.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 52%, 31%, 0.681);
}
.img-container img {
    height: 100%;
    overflow: hidden;
}
.content {
    min-width: 500px;
    padding: 60px;
    position: relative;
}
.content h1 {
    color: var(--White);
    font-size: 40px;
    margin-bottom: 25px;
}
.content > p {
    color: var(--Slightly-transparent-white);
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .stats p:first-child {
    color: var(--White);
    font-weight: bold;
    font-size: 25px;
}
.content .stats p:last-child {
    color: var(--Slightly-transparent-white);
}
span {
    color: var(--Soft-violet);
}
@media (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
    }
    .img-container img {
        width: 100%;
    }
    .content {
        text-align: center;
    }
}

.attribution {
    color: white;
    
}